In [1]:
a=[1,2,3,4,5]

In [8]:
s=0

s=s+1
s=s+2
s=s+3
s=s+4
s=s+5

s

15

In [19]:
a=[1,2,3,4,5]

for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をｐと呼び、ｐをprintする。

In [22]:
dict_tohoku = {5349,4644,5344,4968,6259,5478}
for val in dict_tohoku:
    print(val)

5344
4644
5349
5478
4968
6259

In [21]:
s=0

for x in a:
    s=s+x
    
s

15

In [23]:
a

[1, 2, 3, 4, 5]

In [25]:
s=0

for x in a:
    s=s+x

s/len(a)

3.0

In [31]:
avg_tohoku = 0.0

for val in list_tohoku:
    avg_tohoku += val
    
avg_tohoku /= len(list_tohoku)
print(avg_tohoku)

NameError: name 'list_tohoku' is not defined

In [32]:
list_shikoku = [3148, 2991, 2966, 2457]

In [36]:
(3148+ 2991+ 2966+ 2457)/4

2890.5

In [40]:
s=0.0
for val in list_tohoku:
    s+=val
s/= len(list_tohoku)

print(s)

NameError: name 'list_tohoku' is not defined

In [38]:
(3148+ 2991+ 2966+ 2457)/4

2890.5

In [39]:
list_shikoku = [3148, 2991, 2966, 2457]

s=0
for x in list_shikoku:
    s+=x
    
s/len(list_shikoku)

2890.5

In [41]:
from statistics import *

In [42]:
mean(list_shikoku)

2890.5

In [43]:
mean([1,2,3,4,5])

3

meanは、平均値を出す。

In [47]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [51]:
dic={'A':100,'B':20,'C':3000}

In [52]:
dic['A']

100

In [54]:
for key in dic:
    print(key)

A
B
C

In [55]:
for x in dic:
    print(x)

A
B
C

In [57]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamagata
fukushima
morioka

In [59]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [60]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344,
'Yamagata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [66]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s+=dict_tohoku[x]

s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1.[5,4,3,2]の合計
2.{'A':10,'B':100,'C':1000}の値の平均
3.{10:'A',100:'B',1000:'C'}のキーの平均

In [68]:
a=[5,4,3,2]
s=0

for x in a:
    s+=x
    
s/len(a)

3.5

In [69]:
mean(a)

3.5

In [72]:
a={'A':10,'B':100,'C':1000}
s=0

for x in a:
    s+=a[x]
    
s/len(a)

370.0

In [74]:
mean(a.values())

370

In [75]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0

上：９９番

In [77]:
a={10:'A',100:'B',1000:'C'}

s=0

for x in a:
    s+=x
    
s/len(a)

370.0

In [78]:
a.values()

dict_values(['A', 'B', 'C'])

この場合valuesは使えない。